@{
    ViewData["Title"] = "Home Page";
}
@{ var myMessage = "You were here";}
<div class="mt-4 p-5 bg-primary text-white rounded-2 text-center">
    <h1>The Final Challenge</h1>
    <h3> @myMessage</h3>
    <h2> @DateTime.Now</h2>
</div>

